@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
Author:Hami ÇAKIR
Author URI: http://hamicakir.com
Version: 1.0.0
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
/*
TABLE OF CONTENTS
1.	Global
2.	Header
3.	Menu
4.	Mobile Menu
5.	Footer
6.	Blog Layout
7.	Contact Page
8.	Media Queries
	29.1 Tablet
	29.2 Mobile 320
	29.3 Mobile 480
9. Helper classes
*/
/*=============
    GLOBAL
  ============*/
html {
    margin:0;
    padding:0;
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    padding:0;
    margin:0;
    overflow-y:auto;
    overflow-x: hidden;
    background-image: url("../images/bg-image.jpg");
    background-attachment: fixed;
    background-size:center center;
}
header{
    padding-top:30px;
}
.main{
    width:55%;
    margin:0 auto;
    z-index:0;
}
.logo{
    width:65%;
    margin-left:-20px;
}
.menu{
    margin:0;
}
.menu li a{
    color:white;
    padding:45px 15px;
}
.menu li a:hover{
    background-color:transparent;
    color: #16b17c;
}
.welcome{
    width: 100%;
    background-color: white;
    margin-top: 125px;
    background-position: center center;
    background-size:cover;
}
.welcome img{
    width:100%;
}
.text-area{
    padding:125px 0;
    margin-left:50px;
}
.first-text{
    font-size: 27px;
    line-height: 12px;
    letter-spacing: 0px;
    margin-top:40px;
    margin-bottom: 32px;
    transition: all .3s cubic-bezier(0.215,0.61,0.355,1);
    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 300;
    color:#1B1B1B;
}
.name-text{
    font-size: 65px;
    line-height: 59px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    transition: all .3s cubic-bezier(0.215,0.61,0.355,1);
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 500;
    color:#1B1B1B;
}
.about-me{
    width:100%;
    margin-top:50px;
    min-height:400px;
}
.green{
    background-color:#16b17c;
    width:50%;
    min-height:350px;
    max-height:350px;
    padding:50px 0;
}
.green p{
    color:white;
    padding: 0 50px 0 50px;
}
.transparent{
    background-color:black;
    opacity:0.6;
    width:50%;
    min-height:350px;
    max-height: 350px;
    padding:50px 0;
}
.transparent p{
    color:white;
    padding:0 50px 0 50px;
}
.green p:first-child, .transparent p:first-child{
    font-size:26px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top:30px;
    width:55%;
}
.green p:nth-child(2), .transparent p:nth-child(2){
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.portfolio{
    padding:0px;
    width:100%;
    margin-top:50px;
    margin-bottom: 50px;
    min-height:400px;
    background-color:black;
    opacity:0.6;
}
.dy-tab{
    border-bottom:4px solid #16b17c;
}
.dy-tab>li{
    width:33.33%;
    background-color:black;
    padding:0;
    border-radius:0;
    border:0;
    margin-bottom: 0;
}
.dy-tab>li>a{
    text-align:center;
    color:white;
    background-color:transparent;
    border:0;
    border-radius: 0;
    padding:30px 0;
    margin-bottom:0;
    margin-right: 0;
    font-size:18px;
}
.dy-tab>li.active>a {
    color: white;
    background-color: transparent;
    border-radius: 0;
    border:0;
    padding: 30px 0;
    margin-bottom:0;
    margin-right:0;
}
.dy-tab>li.active>a:hover,.dy-tab>li.active>a:focus , .dy-tab>li.active>a:active{
    background-color: #16b17c;
    border:none;
    color:white;
}
.dy-tab>li>a:hover,.dy-tab>li>a:focus,.dy-tab>li>a:active{
    background-color:#16b17c;
    border:none;
    color:white;
}
.left-icon{
    font-size:30px;
}